autom4te.cache
aclocal.m4
config.h
config.h.in~
config.log
configure
depcomp
config.status
install-sh
libtool
ltmain.sh
Makefile
missing
Makefile.in
stamp-h1
tests/Makefile.in
tests/Makefile
src/*.so
src/*.o
src/*.la
src/*.lo
src/*.loT
src/*_wrap.c
src/*_wrap.cpp
src/opengl/gl.scm
src/opengl/glu.scm
src/opengl/glut.scm
src/.deps
src/.libs
src/Makefile
config.sub
config.guess
